@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #__next, .layout-container, .main-container {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-container {
  background-color: $secondary-color;
}

.primary-border {
  border: 2px solid $primary-color;
}

.bottom-btn {
  background-color: $primary-color;
  color: white;
}

.circle {
  font-size: 17px;
  font-weight: bold;
  height: 45px;
  width: 45px;
  background-color: $primary-color;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loader-container > span {
  color: $primary-color;
  border-color: $primary-color;
  border-bottom-color: transparent;
  height: 80px;
  width: 80px;
}